@model List<Product>
@{ 
    ViewBag.Title = "Product List";
}
<style>
    .page-header {
        margin-top: 4rem;
    }
    th:hover, td:hover {
        background-color: #f3e5f6;
    }
    a {
        color: #8e00ad;
    }
        a:hover {
            color: #af4cc5;
            text-decoration: none;
        }
</style>
<div class="container">
    <header class="page-header">
        <h2>Product List</h2>
    </header>
    <a asp-controller="Product" asp-action="Add">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square pb-1" viewBox="0 0 16 16">
    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg> Add New Product</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.Name</td>
                    <td>@prod.Price</td>
                    <td>@prod.Quantity</td>
                    <td>
                        <a asp-controller="Product" asp-action="Edit"
                           asp-route-id="@prod.Id">Edit</a> |
                        <a asp-controller="Product" asp-action="Delete"
                           asp-route-id="@prod.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
